GPS With Friends/src/conf/xml-resources/web-service-references/GPSWithFriends/wsdl/localhost_8080/GPSWithFriends/GPSWithFriends.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cs.uoregon.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cs.uoregon.edu/" name="GPSWithFriends">
<types>
<xsd:schema>
<xsd:import namespace="http://cs.uoregon.edu/" schemaLocation="http://localhost:8080/GPSWithFriends/GPSWithFriends?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="getLocation">
<part name="parameters" element="tns:getLocation"/>
</message>
<message name="getLocationResponse">
<part name="parameters" element="tns:getLocationResponse"/>
</message>
<message name="getMembers">
<part name="parameters" element="tns:getMembers"/>
</message>
<message name="getMembersResponse">
<part name="parameters" element="tns:getMembersResponse"/>
</message>
<message name="createGroup">
<part name="parameters" element="tns:createGroup"/>
</message>
<message name="createGroupResponse">
<part name="parameters" element="tns:createGroupResponse"/>
</message>
<message name="addMember">
<part name="parameters" element="tns:addMember"/>
</message>
<message name="addMemberResponse">
<part name="parameters" element="tns:addMemberResponse"/>
</message>
<message name="removeMember">
<part name="parameters" element="tns:removeMember"/>
</message>
<message name="removeMemberResponse">
<part name="parameters" element="tns:removeMemberResponse"/>
</message>
<message name="setLocation">
<part name="parameters" element="tns:setLocation"/>
</message>
<message name="setLocationResponse">
<part name="parameters" element="tns:setLocationResponse"/>
</message>
<message name="getGroups">
<part name="parameters" element="tns:getGroups"/>
</message>
<message name="getGroupsResponse">
<part name="parameters" element="tns:getGroupsResponse"/>
</message>
<message name="authenticate">
<part name="parameters" element="tns:authenticate"/>
</message>
<message name="authenticateResponse">
<part name="parameters" element="tns:authenticateResponse"/>
</message>
<portType name="GPSWithFriends">
<operation name="register">
<input wsam:Action="http://cs.uoregon.edu/GPSWithFriends/registerRequest" message="tns:register"/>
<output wsam:Action="http://cs.uoregon.edu/GPSWithFriends/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="getLocation">
<input wsam:Action="http://cs.uoregon.edu/GPSWithFriends/getLocationRequest" message="tns:getLocation"/>
<output wsam:Action="http://cs.uoregon.edu/GPSWithFriends/getLocationResponse" message="tns:getLocationResponse"/>
</operation>
<operation name="getMembers">
<input wsam:Action="http://cs.uoregon.edu/GPSWithFriends/getMembersRequest" message="tns:getMembers"/>
<output wsam:Action="http://cs.uoregon.edu/GPSWithFriends/getMembersResponse" message="tns:getMembersResponse"/>
</operation>
<operation name="createGroup">
<input wsam:Action="http://cs.uoregon.edu/GPSWithFriends/createGroupRequest" message="tns:createGroup"/>
<output wsam:Action="http://cs.uoregon.edu/GPSWithFriends/createGroupResponse" message="tns:createGroupResponse"/>
</operation>
<operation name="addMember">
<input wsam:Action="http://cs.uoregon.edu/GPSWithFriends/addMemberRequest" message="tns:addMember"/>
<output wsam:Action="http://cs.uoregon.edu/GPSWithFriends/addMemberResponse" message="tns:addMemberResponse"/>
</operation>
<operation name="removeMember">
<input wsam:Action="http://cs.uoregon.edu/GPSWithFriends/removeMemberRequest" message="tns:removeMember"/>
<output wsam:Action="http://cs.uoregon.edu/GPSWithFriends/removeMemberResponse" message="tns:removeMemberResponse"/>
</operation>
<operation name="setLocation">
<input wsam:Action="http://cs.uoregon.edu/GPSWithFriends/setLocationRequest" message="tns:setLocation"/>
<output wsam:Action="http://cs.uoregon.edu/GPSWithFriends/setLocationResponse" message="tns:setLocationResponse"/>
</operation>
<operation name="getGroups">
<input wsam:Action="http://cs.uoregon.edu/GPSWithFriends/getGroupsRequest" message="tns:getGroups"/>
<output wsam:Action="http://cs.uoregon.edu/GPSWithFriends/getGroupsResponse" message="tns:getGroupsResponse"/>
</operation>
<operation name="authenticate">
<input wsam:Action="http://cs.uoregon.edu/GPSWithFriends/authenticateRequest" message="tns:authenticate"/>
<output wsam:Action="http://cs.uoregon.edu/GPSWithFriends/authenticateResponse" message="tns:authenticateResponse"/>
</operation>
</portType>
<binding name="GPSWithFriendsPortBinding" type="tns:GPSWithFriends">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMembers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="authenticate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GPSWithFriends">
<port name="GPSWithFriendsPort" binding="tns:GPSWithFriendsPortBinding">
<soap:address location="http://localhost:8080/GPSWithFriends/GPSWithFriends"/>
</port>
</service>
</definitions>