GPS With Friends/src/conf/xml-resources/web-service-references/GPSwfriends/wsdl/ec2-54-244-86-37.us-west-2.compute.amazonaws.com_80/GPSwfriends/GPSwfriends.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://cs.uoregon.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://cs.uoregon.edu/">

<xs:element name="addMember" type="tns:addMember"/>

<xs:element name="addMemberResponse" type="tns:addMemberResponse"/>

<xs:element name="authenticate" type="tns:authenticate"/>

<xs:element name="authenticateResponse" type="tns:authenticateResponse"/>

<xs:element name="createGroup" type="tns:createGroup"/>

<xs:element name="createGroupResponse" type="tns:createGroupResponse"/>

<xs:element name="getGroups" type="tns:getGroups"/>

<xs:element name="getGroupsResponse" type="tns:getGroupsResponse"/>

<xs:element name="getHistory" type="tns:getHistory"/>

<xs:element name="getHistoryResponse" type="tns:getHistoryResponse"/>

<xs:element name="getLocation" type="tns:getLocation"/>

<xs:element name="getLocationResponse" type="tns:getLocationResponse"/>

<xs:element name="getMembers" type="tns:getMembers"/>

<xs:element name="getMembersResponse" type="tns:getMembersResponse"/>

<xs:element name="getUser" type="tns:getUser"/>

<xs:element name="getUserResponse" type="tns:getUserResponse"/>

<xs:element name="register" type="tns:register"/>

<xs:element name="registerResponse" type="tns:registerResponse"/>

<xs:element name="removeMember" type="tns:removeMember"/>

<xs:element name="removeMemberResponse" type="tns:removeMemberResponse"/>

<xs:element name="setLocation" type="tns:setLocation"/>

<xs:element name="setLocationResponse" type="tns:setLocationResponse"/>

<xs:complexType name="addMember">
<xs:sequence>
<xs:element name="uid" type="xs:int"/>
<xs:element name="gid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMemberResponse">
<xs:sequence>
<xs:element name="return" type="tns:status" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="status">
<xs:sequence>
<xs:element name="success" type="xs:boolean"/>
<xs:element name="error" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGroups">
<xs:sequence>
<xs:element name="uid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getGroupsResponse">
<xs:sequence>
<xs:element name="return" type="tns:group" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="group">
<xs:sequence>
<xs:element name="users" type="tns:user" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="gid" type="xs:int"/>
<xs:element name="owner" type="xs:int"/>
<xs:element name="date_created" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="uid" type="xs:int"/>
<xs:element name="fName" type="xs:string" minOccurs="0"/>
<xs:element name="lName" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUser">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createGroup">
<xs:sequence>
<xs:element name="uids" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="owner" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createGroupResponse">
<xs:sequence>
<xs:element name="return" type="tns:status" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setLocation">
<xs:sequence>
<xs:element name="uid" type="xs:int"/>
<xs:element name="latitude" type="xs:double"/>
<xs:element name="longitude" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setLocationResponse">
<xs:sequence>
<xs:element name="return" type="tns:status" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLocation">
<xs:sequence>
<xs:element name="uid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLocationResponse">
<xs:sequence>
<xs:element name="return" type="tns:location" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="location">
<xs:sequence>
<xs:element name="uid" type="xs:int"/>
<xs:element name="latitude" type="xs:double"/>
<xs:element name="longitude" type="xs:double"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="register">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="fname" type="xs:string" minOccurs="0"/>
<xs:element name="lname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerResponse">
<xs:sequence>
<xs:element name="return" type="tns:status" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authenticate">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authenticateResponse">
<xs:sequence>
<xs:element name="return" type="tns:userStatus" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userStatus">
<xs:complexContent>
<xs:extension base="tns:status">
<xs:sequence>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="removeMember">
<xs:sequence>
<xs:element name="uid" type="xs:int"/>
<xs:element name="gid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeMemberResponse">
<xs:sequence>
<xs:element name="return" type="tns:status" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHistory">
<xs:sequence>
<xs:element name="uid" type="xs:int"/>
<xs:element name="number" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHistoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:location" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMembers">
<xs:sequence>
<xs:element name="gid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMembersResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>